* {
  /*border: 1px solid black;*/
}

#banner {
  height:25%;
}

a {
  font-family: 'Megrim', cursive;
  font-weight: bold;
}

.thumbnail {
  width: 9%;
  height: 9%;
  text-align: center;
  display: inline-block;
  float: left;
  margin-left: 6%;
  border: none;
  margin-top: 5%;
}

#logo {
  width: 30%;
  display: inline-block;
  float: left;
  text-align: center;
  margin-left: 4%;
  font-family: 'Megrim', cursive;
  font-size: 50px;
}

h1{
  font-size: 180%;

}


#video_container {
  display: none;
}


.output {
  display: none;
}

.body_container  {
  width: 48%;
  float: left;
  text-align: center;
  margin-top: 1%;
  height: 60%;
}

#body_left {
margin-left: 1%;
display: none;
}

#body_right {
  margin-left: 2%;
  display: none;
}


