/** {
  border: 1px solid black;
}*/


#banner {
  height:25%;
}

a {
  font-family: 'Megrim', cursive;
  font-weight: bold;
}

#navbar .thumbnail {
  width: 9%;
  height: 9%;
  text-align: center;
  display: inline-block;
  float: left;
  margin-left: 6%;
  border: none;
  margin-top: 5%;
}

#logo {
  width: 30%;
  display: inline-block;
  float: left;
  text-align: center;
  margin-left: 4%;
  font-family: 'Megrim', cursive;
  font-size: 50px;
}

h1{
  font-size: 180%;
}

.body_container  {
  width: 48%;
  float: left;
  text-align: center;
  margin-top: 1%;
  height: 60%;
}

#body_left {
margin-left: 1%;
display: none;
}

#body_right {
  margin-left: 2%;
  display: none;
}

img.thumbnail {
  width: 50%;
  height: auto;
  margin: auto;

}

#friends-overlay {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}

#friends-overlay .start-game {
  width: 50%;
  margin-top: 10%;
  margin-left: 5%;
  border-radius: 10px;
  height: 50%;
  width: 90%;
  overflow: auto;
  background-color: #fff;
}

#photo-overlay {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}

#photo-overlay .photo-box {
  width: 50%;
  margin: 10% auto;
  border-radius: 10px;
  height: 50%;
  width: 60%;
  background-color: #fff;
}

#checkmark {
  display: none;
  width: 128px;
  height: 128px;
  margin: auto;
  background-image: url("../images/checkmark.png");
}

#loader {
  display: none;
  width: 128px;
  height: 128px;
  margin: auto;
  background-image: url("../images/ajax_loader.gif")
}

.main-content {
  clear: both;
}

.friend_box {
  float: left;

}

.video_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#video_container, .output {
  display: none;
  margin: 1em;
}

button {
  margin: 1em;
  float: left;

}

.friend-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
