/** {
  border: 1px solid black;
}
*/
#banner {
  height:25%;
}

#navbar {
  /*display: flex;*/

}


#landing_body {
  background-image: url("/home_face.jpg");
  background-size: cover;
  height: 10%;
  width: 0%;
  margin-left: 25%;

}

.thumbnail {
  width: 9%;
  height: 9%;
  text-align: center;
  display: inline-block;
  float: left;
  margin-left: 6%;
  border: none;
  margin-top: 5%;
}

#facebook_button {
  width: 40%;
  margin-left: 30%;
  margin-top: 25%;
  margin-bottom: 50%;
}

#logo {
  width: 30%;
  display: inline-block;
  float: left;
  text-align: center;
  margin-left: 4%;
  font-family: 'Megrim', cursive;

}

h1 {
  font-size: 650%;
}

#video_container {
  display: none;
}


.output {
  display: none;
}

.body_container  {
  width: 48%;
  float: left;
  text-align: center;
  margin-top: 1%;
  height: 60%;
}

#body_left {
margin-left: 1%;
display: none;

}

#body_right {
  margin-left: 2%;
  display: none;

}


