body {
  background: url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/7/74/74830/comic-sunburst-background-o.jpg') no-repeat center center fixed;
  background-size: cover;
}

#login-banner {
  height:20%;
}

#login-logo {
  width: 50%;
  font-family: 'Walter Turncoat';
  text-align: center;
  font-size: 300%;
  margin-left: 25%;
  text-shadow: 4px 4px #ff0000;
  color: #E5B60C;
}

#landing-body {
  background-image: url("../images/wink_icon.png");
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 30em;
  width: 50em;
  margin: auto;
}

#facebook_button {
  width: 30%;
  margin-left: 35%;
}


