/** {
  border: 1px solid black;
}
*/
#banner {
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 35px;
  height:19%;
}


#landing_body {
  background-image: url("/home_face.jpg");
  background-size: cover;
  height: 50%;
  width: 50%;
  margin-left: 25%;
}

#facebook_button {
  width: 40%;
  margin-left: 30%;
  margin-top: 45%;
}
#logo {
  width: 50%;
  margin-left: 25%;
}


#video_container {
  display: none;
}


.output {
  display: none;
}

.body_container  {
  width: 48%;
  float: left;
  text-align: center;
  margin-top: 1%;
  height: 60%;
}

#body_left {
margin-left: 1%;
display: none;

}

#body_right {
  margin-left: 2%;
  display: none;

}


